*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-image: url(./images/forrest.jpg);
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height: 70vh;
    background-image:url(./images/forrest.jpg);
    background-position: center;
    background-size: cover;
}
a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5;

}
a:hover{
    color: orangered;
}

.header{
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
    font-family: cursive;
}
p{
    font-family: 'Times New Roman', Times, serif;
    background-position: center;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}
.images{
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding: 20px;
   
}
.mine{
    height: 230px;
    border-radius: 10px;
    justify-content: space-evenly;
}
img{
    width: 350px;
    height: 320px;
}
.boxmodel{
    border: 2px solid black;
    padding: 6px;
    margin: 10px;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    background-position: center;
    font-size: large;
    margin-top: 200px;
    margin-bottom: 25px;
}
.footer{
    font-style: italic;
    font-size: x-large;
    margin-top: 15px;
    block-size: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
